{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% block title %}GreenMarket{% endblock %}</title>
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>

  <div class="fondo">

    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/gmlogo-largo1.png' %} " width="300" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'iniciosesion' %}">Iniciar Sesión</a>
              </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    
    <div id="carouselE" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselE" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="slide 1"></button>
          <button type="button" data-bs-target="#carouselE" data-bs-slide-to="1" aria-current="true"
            aria-label="slide 2"></button>
          <button type="button" data-bs-target="#carouselE" data-bs-slide-to="2" aria-current="true"
            aria-label="slide 3"></button>
        </div>
  
        <div class="carousel-inner" heigh="1000px">
  
          <div class="carousel-item active">
            <img src="{% static 'img/carrusel1.png' %}" class="d-block w-100" alt="">
            <div class="carousel-caption">
              <h5>Cuida de ti y del planeta con Green Market</h5>
              <p>
                Nuestra misión es brindarte una amplia variedad de productos ecológicos y sostenibles.
              </p>
              <a href="#" class="btn btn-outline-success" type="submit">Únete a nosotros</a>
            </div>
          </div>
          <div class="carousel-item ">
            <img src="{% static 'img/carrusel2.png' %}" class="d-block w-100" alt="">
            <div class="carousel-caption">
              <h5>Cuida de ti y del planeta con Green Market</h5>
              <p>
                Te invitamos a unirte a nosotros en la búsqueda de un mundo más saludable.
              </p>
              <a href="#" class="btn btn-outline-success" type="submit">Únete a nosotros</a>
            </div>
          </div>
          <div class="carousel-item ">
            <img src="{% static 'img/carrusel3.png' %}" class="d-block w-100" alt="">
            <div class="carousel-caption">
              <h5>Cuida de ti y del planeta con Green Market</h5>
              <p>
                Donde cuidar de ti mismo y del planeta van de la mano.
              </p>
              <a href="#" class="btn btn-outline-success" type="submit">Únete a nosotros</a>
            </div>
          </div>
  
          <div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselE" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselE" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>  
  
      <section class="about section-padding">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                  <div class="about-img">
                    <img src="{% static 'img/gmlogo.png' %} " class="img-fluid" alt="">
                  </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5">
                  <div class="about-text">
                    <h2>La Importancia de Ser Sustentable para un Futuro Mejor</h2>
                    <p>Green Market te ofrece una amplia variedad de productos ecológicos y sostenibles, desde alimentos frescos y saludables hasta productos de cuidado personal y artículos para el hogar respetuosos con el medio ambiente. Nuestros productos cumplen con altos estándares de calidad y sostenibilidad, lo que te permite tomar decisiones conscientes y responsables. Únete a nosotros en nuestro compromiso por un mundo más verde y saludable mientras cuidas de ti y del planeta con Green Market.
                    </p>
                    <a href="#" class="btn btn-outline-success" type="submit">Únete a nosotros</a>
                  </div>
                </div>
              </div>
            </div>
      </section>
  
      <section class="services section-padding">
  
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="section-header text-center">
                    <h2 class="quienes">¿Quiénes Somos?</h2>
                    <p>Únete a GreenMarket, donde la tecnología se encuentra con la conciencia ecológica. Somos más que una plataforma comercial; somos una iniciativa comprometida con un mañana más verde. En un mundo donde cada elección cuenta, te invitamos a formar parte de nuestro movimiento, cambiando la forma en que compramos y vendemos. Descubre quiénes somos y únete a nosotros en el viaje hacia un futuro más sostenible y próspero.</p>
                  </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="carta col-12 col-md-12 col-lg-6">
                  <div class="card text-black text-center bg-warning pb-2">
                    <div class="card-body">
                      <i class="bi bi-laptop"></i>
                      <h3 class="card-title">Visión</h3>
                      <p class="lead">Ser la plataforma líder a nivel global que conecta a productores, consumidores y empresas comprometidos con un estilo de vida sustentable. Buscamos ser pioneros en la promoción de prácticas ecológicas y consumo responsable, contribuyendo así a un planeta más saludable y equitativo.</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-12 col-md-12 col-lg-6">
                  <div class="card text-black text-center bg-warning pb-2">
                    <div class="card-body">
                      <i class="bi bi-laptop"></i>
                      <h3 class="card-title">Misión</h3>
                      <p class="lead">Facilitar un mercado digital sostenible que promueva la comercialización de productos ecológicos y fomente la conciencia ambiental. En GreenMarket, nos esforzamos por ofrecer una experiencia única, conectando a comunidades alrededor del mundo y apoyando a aquellos que comparten nuestra visión de un futuro más verde. Nuestra misión es inspirar y capacitar a individuos y empresas para que tomen decisiones de compra conscientes y sostenibles.</p>
                    </div>
                  </div>
                </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="section-header text-center">
                    <h2>Transforma tu Consumo, Transforma el Mundo con GreenMarket</h2>
                    <h5>Descubre la Importancia de Ser Ecológico y Únete a un Futuro Sustentable</h5>
                    <p>En Green Market, no solo te ofrecemos una amplia gama de productos ecológicos y sostenibles, sino también una experiencia de compra única. Nuestros servicios van más allá de la simple adquisición de productos.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="carta col-12 col-md-12 col-lg-4">
                  <div class="card text-black text-center bg-warning pb-2">
                    <div class="card-body">
                      <i class="bi bi-laptop"></i>
                      <h3 class="card-title">Redefiniendo Tu Impacto Ambiental</h3>
                      <p class="lead">Cada elección de compra tiene un impacto, y en GreenMarket, creemos que esos impactos pueden ser positivos. Al elegir productos ecológicos, estás contribuyendo directamente a la reducción de la huella de carbono y apoyando prácticas responsables. Es hora de redefinir la forma en que consumimos y ser conscientes de cómo nuestras elecciones diarias pueden moldear un futuro más sostenible.</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-black text-center bg-warning pb-2">
                    <div class="card-body">
                      <i class="bi bi-laptop"></i>
                      <h3 class="card-title">Apoya Productores Locales y Fomenta la Economía Sustentable</h3>
                      <p class="lead">GreenMarket no solo es una plataforma de compras; es un respaldo a los productores locales comprometidos con prácticas sostenibles. Al elegir productos de GreenMarket, estás apoyando directamente a agricultores y artesanos locales, fomentando una economía circular y reduciendo la huella del transporte. Tu elección importa, y con GreenMarket, estás respaldando comunidades y contribuyendo al crecimiento de una economía más sostenible.</p>
                    </div>
                  </div>
                </div>
  
                <div class="col-12 col-md-12 col-lg-4">
                  <div class="card text-black text-center bg-warning pb-2">
                    <div class="card-body">
                      <i class="bi bi-laptop"></i>
                      <h3 class="card-title">Cuida de tu Hogar y del Planeta a la Vez</h3>
                      <p class="lead">Ser ecológico no solo beneficia al planeta, sino también a tu hogar. Los productos en GreenMarket están diseñados para ser amigables con el medio ambiente y, al mismo tiempo, proporcionar la calidad que tu hogar merece. Desde alimentos frescos y saludables hasta productos de cuidado personal y limpieza, cada compra en GreenMarket es una inversión en la salud de tu hogar y del planeta. Únete a nosotros y descubre cómo cuidar de ambos puede ser tan simple como cambiar tu forma de comprar.</p>
                    </div>
                  </div>
                </div>
        </section>
  
      <section>
  
      </section>
    
    {% endblock %}

    <footer>
      <p>Derechos de autor ©2023 Green Market. Todos los derechos reservados. El contenido de este sitio web, incluyendo textos, imágenes, gráficos y logotipos, está protegido por las leyes de derechos de autor y propiedad intelectual. Queda estrictamente prohibida la reproducción, distribución o cualquier otro uso no autorizado de cualquier material de este sitio sin el permiso por escrito de Green Market.</p>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>

</html>