<div class="alert alert-primary" role="alert">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="row" colspan="3" class="tex-center">CARRITO</th>
            </tr>
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">PRECIO</th>
                <th scope="col">CANTIDAD</th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
            <tr>
                <td>{{value.nombre}}</td>
                <td>{{value.precio}}</td>
                <td>{{value.acumulado}}
                    <a href="{% url 'agregar' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                    <a href="{% url 'restar' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alet alert-danger text center">Sin Productos</div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">Total:</th>
                <th colspan="2">${{total_carrito}}</th>
            </tr>
        </tbody>
    </table>
    <hr>
</div>
<div class="row" text center>
    <div class="col-6"><a href="{% url 'limpiar' %}" class="btn btn-danger">Limpiar</a></div>
    <div class="col-6"><a href="{% url 'orden' %}" class="btn btn-success">Guardar</a></div>
</div>